<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Funcionários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">
  <div>Página Funcionários</div>
        <div class="w3-bar w3-black">
        <a href="/index" class="w3-bar-item w3-button">Home</a>
        <a href="/funcionario/create" class="w3-bar-item w3-button">Novo Funcionario</a>
        <a href="/funcionario/list" class="w3-bar-item w3-button">Listar Funcionarios</a>
    </div>



    </body>
</html>
